# app build
**/build/
/packages/legacy/build/**
/packages/apps/testvalleyapp_v2/build/**

# Xcode
xcuserdata/
project.xcworkspace/
DerivedData/


# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
/.idea/gen/
/.idea/libraries/
/.idea/shelf/
/.idea/.name
/.idea/misc.xml
/.idea/mobile.tvalley-flutter.iml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/codeStyles/

android/.idea

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
**/build/
*.lock


# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
/ios/Podfile.lock
*.aab

.idea/libraries/Dart_Packages.xml
.idea/libraries/Dart_SDK.xml
.idea/libraries/Flutter_Plugins.xml
.idea/modules.xml
pubspec.lock
.fvm/flutter_sdk
